In [1]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt

In [2]:
tst = 2

In [3]:
dir1 = '../repeats/'+str(tst)+'/mammals/'
# os.listdir(dir1)
fils = os.listdir(dir1)
fils = [f for f in fils if '.out' in f]
fils = [f for f in fils if '_comb.csv' not in f]
fils

['Tammar_foc.fasta.out',
 'Mouse_foc.fasta.out',
 'Human_foc.fasta.out',
 'Echidna_foc.fasta.out',
 'Elephant_foc.fasta.out',
 'Brushtail_foc.fasta.out',
 'Opossum_foc.fasta.out',
 'Agilis_foc.fasta.out',
 'Platypus_foc.fasta.out',
 'Koala_foc.fasta.out']

In [4]:
dee = []
for fil in fils:
    with open(dir1+fil) as f:
        lines = f.readlines()
        infie = []
        rend = 10
        rend = len(lines)
        for i in tqdm(range(3,rend)):
            info = lines[i].split(' ')
            info = [e for e in info if e != '']
            info = [e.replace('\n','') for e in info]
            infie.append(info)
        df = pd.DataFrame(infie)
        df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)
        df.columns = ['SW_score', 'perc_div', 'perc_del', 'perc_ins', 'query_seq',
                     'qpos_begin', 'qpos_end', 'q(left)', 'match', 'matching_repeat', 
                      'repeat_class', 'rpos_begin', 'rpos_end', 'r(left)', 'ID']
        df['file'] = fil.replace('.fa.out','')
        dee.append(df)
df = pd.concat(dee)
#         df.to_csv(dir1+fil+'.csv', index=False)

100%|████████████████████████████████████████| 52/52 [00:00<00:00, 56961.04it/s]
100%|████████████████████████████████████████| 42/42 [00:00<00:00, 59253.54it/s]
100%|████████████████████████████████████████| 41/41 [00:00<00:00, 56234.95it/s]
100%|██████████████████████████████████████| 113/113 [00:00<00:00, 22607.03it/s]
100%|████████████████████████████████████████| 30/30 [00:00<00:00, 31269.66it/s]
100%|████████████████████████████████████████| 47/47 [00:00<00:00, 26824.37it/s]
100%|████████████████████████████████████████| 40/40 [00:00<00:00, 14456.89it/s]
100%|████████████████████████████████████████| 52/52 [00:00<00:00, 18214.78it/s]
100%|██████████████████████████████████████| 100/100 [00:00<00:00, 36358.39it/s]
100%|████████████████████████████████████████| 52/52 [00:00<00:00, 50428.63it/s]

In [7]:
dir2 = '../extseq/'+str(tst)+'/'
os.listdir(dir2)
reg = pd.read_csv(dir2+'regions.csv')
reg.head(2)

,nm,gdrpr,anm,cnf,ccc,st,en,dr,est,een,stn,enn
0,Human,../../../../../../../../Genome/,Human/GRCh38/Split/,Homo_sapiens.GRCh38.dna.chromosome.1.fa,1,83865024,84389957,+,84063024,84093024,0,524933
1,Mouse,../../../../../../../../Genome/,Mouse/splitty/,Mus_musculus.GRCm39.dna.toplevel.fa_3.fa,3,146350950,146689764,-,146503764,146533764,0,338814

In [8]:
df['file'].iloc[i]

'Tammar_foc.fasta.out'

In [9]:
l_sp = []
l_st = []
l_en = []
for i in range(len(df['file'])):
    #
    fn = df['file'].iloc[i]
    fn1 = fn.replace('_foc.fasta.out','')
    l_sp.append(fn1)
    #
    l_st.append(reg[reg['nm']==fn1]['st'].iloc[0])
    l_en.append(reg[reg['nm']==fn1]['en'].iloc[0])
    #
df['spec'] = l_sp
df['reg_st'] = l_st
df['reg_en'] = l_en

In [10]:
df2 = df
#
othename = 'Other\nrepeat'
SINE = ['SINE/Alu', 'SINE/B4', 'SINE/B2', 'SINE/MIR']
LINE = ['LINE/L1']
LTR = ['LTR/ERVL-MaLR', 'LTR/ERVK', 'LTR/ERVL', 'LTR/ERV1']
SIMP = ['Simple_repeat']
SAT = ['Satellite']
LCOM = ['Low_complexity']
OTH = ['DNA/hAT-Charlie']
rep_group = []
for r in range(len(df2['repeat_class'])):
    if df2.iloc[r]['repeat_class'] in SINE:
        rep_group.append(othename)
    elif df2.iloc[r]['repeat_class'] in LINE:
        rep_group.append('LINE')
    elif df2.iloc[r]['repeat_class'] in LTR:
        rep_group.append('LTR')
    elif df2.iloc[r]['repeat_class'] in SIMP:
        rep_group.append(othename)
    elif df2.iloc[r]['repeat_class'] in SAT:
        rep_group.append(othename)
    elif df2.iloc[r]['repeat_class'] in LCOM:
        rep_group.append(othename)
    elif df2.iloc[r]['repeat_class'] in OTH:
        rep_group.append(othename)
    else:
        rep_group.append('Prob.')
df2['rep_group'] = rep_group

In [11]:
df2.to_csv(dir1+'rm_spec_r_comb.csv', index=False, sep='\t')