In [1]:
import os
import subprocess
import pandas as pd
from tqdm import tqdm
import timeit

In [2]:
tst = 1

In [3]:
d2_1 = '/media/trent/INT2TB/root2/Work/UoM/Research/GOI/dmr_lk/tammar/PRKACB/'
d2_2 = 'Species/github/syntrk/'
dir3 = d2_1+d2_2+'tandem/'+str(tst)+'/'
#
fils = os.listdir(dir3)
fils = [f for f in fils if '.csv' in f]
fils = [f for f in fils if 'trf_lk' not in f]
fils = [f for f in fils if 'trf_cmb' not in f]
fils = sorted(fils)
fils

['Agilis_foc.csv',
 'Brushtail_foc.csv',
 'Echidna_foc.csv',
 'Elephant_foc.csv',
 'Human_foc.csv',
 'Koala_foc.csv',
 'Mouse_foc.csv',
 'Opossum_foc.csv',
 'Platypus_foc.csv',
 'Tammar_foc.csv']

In [4]:
dee = []
for f in fils:
    df = pd.read_csv(dir3+f, sep='\t')
    df['f'] = f.replace('.csv','')
    dee.append(df)
cdf = pd.concat(dee)
cdf.to_csv(dir3+'trf_cmb.csv', index=False, sep='\t')

In [5]:
smy = cdf.groupby('f')['len'].agg(sum)
smy = smy.reset_index()
smy.columns = ['seq','tr_len']
smy['tot_len'] = 50001
smy['tr_pct'] = round((smy['tr_len'] / smy['tot_len'])*100, 1)
# smy

In [6]:
scdf = cdf
scdf = scdf[scdf['i_st']>22500]
scdf = scdf[scdf['i_en']<27500]
scdf = scdf[['f', 'i_st', 'i_en', 'p_sz', 'c_n', 'len', 'pat']]
scdf.to_csv(dir3+'trf_lk.csv', index=False, sep='\t')
# scdf

In [7]:
scdf['f'].unique()

array(['Brushtail_foc', 'Echidna_foc', 'Elephant_foc', 'Human_foc',
       'Koala_foc', 'Mouse_foc', 'Opossum_foc', 'Platypus_foc',
       'Tammar_foc'], dtype=object)

In [8]:
ldf = scdf[scdf['f']=='Human_foc']
ldf

           f   i_st   i_en  p_sz   c_n  len  pat
3  Human_foc  25007  25061     3  18.3   54  CCG

In [9]:
ldf = scdf[scdf['f']=='Tammar_foc']
ldf

,f,i_st,i_en,p_sz,c_n,len,pat
7,Tammar_foc,26067,26103,12,3.1,36,GAGTGTGTGCGC
8,Tammar_foc,26103,26129,14,1.9,26,GCTTGTGCAAGCGT
9,Tammar_foc,26801,26836,18,2.0,35,GCACCCCCCCCCCCCGCC
10,Tammar_foc,26805,26847,18,2.4,42,CCCCCTCCCCCGCCCCA
11,Tammar_foc,26843,27186,24,13.0,343,CCCTCTCCTCTTCTTTCTCCTCCTCCT
12,Tammar_foc,26934,27292,24,15.0,358,TCCCCTCCCTCCTCTTCTCCTCCT
13,Tammar_foc,26916,27298,3,129.7,382,CCT
14,Tammar_foc,26946,27228,152,1.9,282,CTCTCCTCCTCCTACCCCTCCCTCCTCTTCTCCTCCTACCCCTCCC...
15,Tammar_foc,26917,27304,128,3.0,387,CTCCTCCTCCCTCATCCTCCCACTCCCTCCTCTCCTCCTCCTACCC...
16,Tammar_foc,27010,27301,43,6.7,291,CCTCCCTCCTCTCCTCCCCCCTCCCTCCTCTCTTCTCTCCC

In [10]:
ldf = scdf[scdf['f']=='Brushtail_foc']
ldf

,f,i_st,i_en,p_sz,c_n,len,pat
8,Brushtail_foc,26760,27155,24,16.5,395,CCCCCTCCCTCCTCTCTTCCTCCT
9,Brushtail_foc,26805,27270,17,24.3,465,CCTCCCCTCCCTCCTCTCC
10,Brushtail_foc,26836,27261,24,19.9,425,CCTCTCCCTCCTCTCCTCTTC
11,Brushtail_foc,26893,27262,3,121.7,369,CCT
12,Brushtail_foc,26762,27136,66,5.6,374,CCCTCCTCTCCTCTCCTCCTCCTCCCCCTCCCTCCTCTCCTTTTCC...
13,Brushtail_foc,26760,27270,45,11.7,510,CCCCCTCCCTCCTCTCCTCCTCCCCCTCCCTCCTCTCCTCCT
14,Brushtail_foc,27241,27296,19,3.0,55,CTCCCCCTCCCTCTTCCCA

In [11]:
ldf = scdf[scdf['f']=='Echidna_foc']
# ldf['i_st'] = ldf['i_st'].astype(int)
# ldf['i_en'] = ldf['i_en'].astype(int)
ldf = ldf[ldf['i_st']>23000]
ldf = ldf[ldf['i_st']<25000]
ldf

,f,i_st,i_en,p_sz,c_n,len,pat
40,Echidna_foc,23257,23361,23,4.5,104,TTTATTTATTTTACTTGTACATG
41,Echidna_foc,23255,23370,32,3.4,115,TATTTATTTATTTTACTTGTACATGTTTATTC
42,Echidna_foc,23175,23386,70,3.0,211,TTACTCGATGTATTTATTTATTTTACTTGTACATGTTTATTCTATT...
43,Echidna_foc,23224,23337,32,3.2,113,TTTATTTGGTTTAATATGTTGTTACTCGATGTATTTA
44,Echidna_foc,23581,24020,91,4.8,439,GGGGGGGCGCGGTTTCAGGTTCCCCCCTCGGCCTCGCTCCGCCCGG...
45,Echidna_foc,23680,24007,185,1.8,327,GCGGTTTCAGGCTCCCCCCTCGACCTCGCTCCCGCCCGGCCGACCC...
46,Echidna_foc,23923,24278,182,2.0,355,GCGCGCGCACGAGCGACCCGAGGGGACGGGGGAACGGTTTCAGGCT...
47,Echidna_foc,24104,24292,100,1.9,188,GCGCGCGCACGAGCGGCCCGAGAGGCCGGGGGCAGCGTTTTCAGGC...
48,Echidna_foc,24105,24317,96,2.2,212,CGCGCGCACGAGCGGCCCGAGAGGCCGGGGGCAGCGTTTTCAGGCC...
49,Echidna_foc,24460,24496,2,18.5,36,CA
50,Echidna_foc,24453,24497,12,3.5,44,CACACCACACACA
51,Echidna_foc,24793,24825,10,3.3,32,CCCGGCCCGG
52,Echidna_foc,24793,24825,15,2.2,32,CCCGCCCCGGCCCGG
53,Echidna_foc,24945,24979,18,1.9,34,CCCTCCGCCGCCCGCCCG
54,Echidna_foc,24956,24984,14,2.1,28,CCGCCCGCCCTCCG